@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #030712;
    color: #f8fafc;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
